<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hall.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @hall.text %>
</p>

<div>
    <%= render @hall.fields %>
    <div>
        <%= render "fields/form" %>
        </div>
        </div>


<div>
<h3> Post a comment! </h3>
    <%= render @hall.comments%>
</div>

<div>
<h3> Comments </h3>
<%= render 'comments/form' %>
</div>
<%= link_to 'Edit', edit_hall_path(@hall) %> |
<%= link_to 'Back', halls_path %>
